<p>An ‘unincorporated association’ is an organisation set up through an agreement between a group of people who come together for a reason other than to make a profit, eg a voluntary group or a sports club.</p>

<p>You don’t need to register an unincorporated association, and it doesn’t cost anything to set one up. </p>

<p>Individual members are personally responsible for any debts and contractual obligations.</p>

<p>If the association does start trading and makes a profit, you’ll need to pay <a href="/corporation-tax">Corporation Tax</a> and file a <a href="/prepare-file-annual-accounts-for-limited-company">Company Tax Return</a> in the same way as a limited company.</p>

