
<p>The liability for debts that can’t be paid in a limited partnership is split among partners. </p>

<p>Partners’ responsibilities differ as:</p>

<ul>
<li>‘general’ partners can be personally liable for all the partnerships’ debts </li>
  <li>‘limited’ partners are only liable up to the amount they initially invest in the business</li>
</ul>
<p>General partners are also responsible for managing the business. </p>

<p>Read more about <a href="/set-up-and-run-limited-partnership">how to set up and run a limited partnership</a>.</p>

