<p>A limited company is an organisation that you can set up to run your business - it’s responsible in its own right for everything it does and its finances are separate to your personal finances. </p>

<p>Any profit it makes is owned by the company, after it pays <a href="/corporation-tax">Corporation Tax</a>. The company can then <a href="/running-a-limited-company/taking-money-out-of-a-limited-company">share its profits.</a></p>

<h2>Ownership</h2>

<p>Every limited company has ‘members’ - the people or organisations who own shares in the company. </p>

<p>Directors are responsible for running the company. Directors often own shares, but they don’t have to.</p>

<h2>Legal responsibilities</h2>

<p>There are many <a href="/running-a-limited-company">legal responsibilities</a> involved with being a director and running a limited company. </p>

<h2>Types of company</h2>

<h3>Limited by shares</h3>

<p>Most limited companies are ‘limited by shares’. This means that the shareholders’ responsibilities for the company’s financial liabilities are limited to the value of shares that they own but haven’t paid for. </p>

<p>Company directors aren’t personally responsible for debts the business can’t pay if it goes wrong, as long as they haven’t broken the law. </p>

<div class="example">
<p><strong>Example</strong><br>
A company limited by shares issues 100 shares valued at £1 each when it’s set up. Its 2 shareholders own 50 shares each and have both paid in full for 25 of these. </p>

<p>If the company goes bust, the maximum the shareholders have to pay towards its outstanding bills is £50 - the value of the remaining 25 shares that they’ve each not paid for.</p>
</div>

<h3>Private company limited by guarantee</h3>

<p>Directors or shareholders financially back the organisation up to a specific amount if things go wrong.</p>

<h3>Public limited company</h3>

<p>The company’s shares are traded publicly on a market, such as the London Stock Exchange.</p>

<div class="application-notice info-notice">
<p>You can also consider setting up a private unlimited company as an alternative legal structure. Directors or shareholders are liable for all debts if things go wrong.</p>
</div>

<h2>How to set up a limited company</h2>

<p>You must <a href="/limited-company-formation">register the company with Companies House</a> and let HM Revenue and Customs (<abbr title="HM Revenue and Customs">HMRC</abbr>) know when the company starts business activities.</p>

<p>Read more about <a href="/limited-company-formation">setting up a private limited company</a>.</p>

<h2>Tax responsibilities</h2>

<p>Every financial year, the company must:</p>

<ul>
<li>put together <a href="/prepare-file-annual-accounts-for-limited-company/prepare-annual-accounts">statutory accounts</a>
</li>
  <li>send Companies House an <a href="/running-a-limited-company/company-annual-return">annual return</a>
</li>
  <li>send <abbr title="HM Revenue and Customs">HMRC</abbr> a <a href="/prepare-file-annual-accounts-for-limited-company/file-your-accounts-and-company-tax-return">Company Tax Return</a>
</li>
</ul>
<p>The company must <a href="/vat-registration">register for VAT</a> if you expect its takings to be more than £81,000 a year.</p>

<p>If you’re a director of a limited company, you must:</p>

<ul>
<li>fill in a <a href="/self-assessment-tax-returns">Self Assessment tax return</a> every year   </li>
  <li>pay <a rel="external" href="http://www.hmrc.gov.uk/paye/intro/basics.htm">tax and National Insurance</a> through the <abbr title="Pay As You Earn">PAYE</abbr> system if the company pays you a salary</li>
</ul>
     
