<p>
A CIC is a special type of limited company which exists to benefit the community 
rather than private shareholders.
</p>
<p>
To set up a CIC, you need:
</p>
<ul>
  <li>
    a ‘community interest statement’, explaining what your business plans 
    to do
  </li>
  <li>
    create an ‘asset lock’- a legal promise stating that the company’s 
    assets will only be used for its social objectives, and 
    setting limits to the money it can pay to shareholders
  </li>
  <li>
    get your company approved by the community interest company regulator - your application will automatically be sent to them
  </li>
</ul>
