<p>In a business partnership, you and your business partner (or partners) personally share responsibility for your business.</p>

<p>You can share all your business’s profits between the partners. Each partner pays tax on their share of the profits.</p>

<div class="application-notice info-notice">
<p><a rel="external" href="http://www.hmrc.gov.uk/manuals/ihtmanual/ihtm25091.htm">Partnerships in Scotland</a> (known as ‘firms’) are different, and have a ‘legal personality’ separate from the individual partners.</p>
</div>

<h2>Legal responsibilities</h2>

<p>You’re personally responsible for your share of:</p>

<ul>
<li>any losses your business makes</li>
  <li>bills for things you buy for your business, like stock or equipment</li>
</ul>
<div class="application-notice info-notice">
<p>You can set up a <a href="/business-legal-structures/limited-partnership-and-limited-liability-partnership">limited partnership or limited liability partnership</a> if you don’t want to be personally responsible for a business’ losses.</p>
</div>

<p>A partner doesn’t have to be an actual person. For example, a <a href="/business-legal-structures/limited-company">limited company</a> counts as a ‘legal person’, and can also be a partner in a partnership.</p>

<p>You must <a href="/set-up-business-partnership/setting-up">choose a name for your partnership and register it with HM Revenue and Customs (HMRC)</a>. </p>

<h2>Tax responsibilities</h2>

<p>The nominated partner must send a <a href="/self-assessment-tax-returns">partnership Self Assessment tax return</a> every year.</p>

<p>All the partners must:</p>

<ul>
<li>send a <a href="/self-assessment-tax-returns">personal Self Assessment tax return</a> every year</li>
  <li>pay <a href="/income-tax-rates">Income Tax</a> on their share of the partnership’s profits</li>
  <li>pay <a href="/self-employed-national-insurance-rates">National Insurance</a>
</li>
</ul>
<p>The partnership will also have to <a href="/vat-registration">register for VAT</a> if you expect its takings to be more than £81,000 a year. </p>

