<p>The partners in an <abbr title="limited liability partnership">LLP</abbr> aren’t personally liable for debts the business can’t pay - their liability is limited to the amount of money they invest in the business.</p>

<p>Partners’ responsibilities and share of the profits are set out in an <abbr title="limited liability partnership">LLP</abbr> agreement. ‘Designated members’ have extra responsibilities. </p>

<p>Read more about how to <a href="/set-up-and-run-limited-liability-partnership">set up and run an <abbr title="limited liability partnership">LLP</abbr></a>.</p>

<h2>Tax for limited liability and limited partnerships</h2>

<p>Every year, the partnership must send a <a href="/self-assessment-tax-returns">partnership Self Assessment tax return</a> to HM Revenue and Customs (<abbr title="HM Revenue and Customs">HMRC</abbr>).</p>

<p>All the partners must:</p>

<ul>
<li>send a <a href="/self-assessment-tax-returns">personal Self Assessment tax return</a> every year</li>
  <li>pay <a href="/income-tax-rates">Income Tax</a> on their share of the partnership’s profits</li>
  <li>pay <a href="/self-employed-national-insurance-rates">National Insurance</a>
</li>
</ul>
<p>You must also <a href="/vat-registration">register the partnership for VAT</a> if you expect your business’s takings to be more than £81,000 a year.</p>

