{% extends 'base.html' %}
{% block title %}Background and Findings{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
    <div class="row">
      <div class="small-12 large-12 columns">
        <header id="global-header">
              <div class="header-wrapper">
                  <div class="text-header">Background and Findings</div>
                  <div class="text-sub-header">We have a lot to learn</div>
                </div>
        </header>
      </div>
    </div>
    <div class="row summary">
        <div class="row">
          <div class="small-12 large-12 columns">
            <h2>Aims and objectives</h2>
           </div>
        </div>
        <div class="row summary-detail">
           <div class="small-6 large-6 columns">
              <div class="summary-subhead">To develop a longer-term vision for digital government beyond the next Parliament.
              </div>
          </div>
         <div class="small-6 large-6 columns">
            <div class="summary-detail">The UK has an opportunity to deliver better and more joined-up public services, for less, whilst stimulating innovation and new partnerships. In order to enable this we must put in place bold new digital civic infrastructure and build greater service delivery capability in the civil service.
            </div>
          </div>
      </div>
  </div>
  <div class="row">
    <div class="small-3 large-3 columns">
       <h4>What we have learnt</h4>
    </div>
    <div class="small-9 large-9 columns">
      <ul class="learnings">
        <li><a href="#">Registers &amp; register ecosystem</a></li>
        <li><a href="#">Services &amp; service ecosystem</a></li>
        <li><a href="#">Identity</a></li>
        <li><a href="#">Policy</a></li>
        <li><a href="#">Trust and consent</a></li>
        <li><a href="#">New technology</a></li>
        <li><a href="#">Platforms</a></li>
        <li><a href="#">Accountability and transparency</a></li>
        <li><a href="#">Content</a></li>
        <li><a href="#">Where to start</a></li>
      </ul>
    </div>
  </div>
  <div class="row blog">
    <div class="row blog-header">
       <div class="small-12 large-12 columns">
        <h4>Blog posts</h4>
      </div>
    </div>
    <div class="row posts">
      <div class="small-4 large-4 columns">
        <h5>What is a register?</h5>
        <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="small-4 large-4 columns">
        <h5>Missing design patterns</h5>
         <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="small-4 large-4 columns">
        <h5>New technology</h5>
         <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a href="#">Read more</a>
      </div>
    </div>
    <div class="row posts">
      <div class="small-4 large-4 columns">
        <h5>Where am I?</h5>
         <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="small-4 large-4 columns">
        <h5>Have we met?</h5>
        <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a href="#">Read more</a>
      </div>
      <div class="small-4 large-4 columns">
        <h5>Do you know who I am?</h5>
         <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a href="#">Read more</a>
      </div>
    </div>
  </div>
{% endblock %}
