{% extends "base_service.html" %}
{% block service_page_title %}{{service.name}} - blog{% endblock%}
{% block service_title %}{{service.name}} - blog{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <h2>{{service.name}} service blog</h2>
      <h3><a href="#">Users! Test our latest public beta</a></h3>
      <p>
        Back in December, I blogged about my first experience of an agile Discovery. We were discovering how we can improve the way we attract people to apply for digital and technology roles 
      </p>
      <h3><a href="#">For staff, with staff – Improving the digital back office</a></h3>
      <p>
        When the project went through discovery (long before I joined the team), they were asked to build and iterate a first class customer facing service but also begin the transformation of …
      </p>
      <h3><a href="#">Single source statutory guidance on determining penalty amount</a></h3>
      <p>
        Our draft guidance proposes to exempt contractors from penalties for a defined period under ‘transitional arrangements’.
      </p>
    </div>
  </div>
{% endblock %}