{% extends "base_service.html" %}
{% block service_page_title %}Fishing{% endblock%}
{% block service_title %}Fishing{% endblock%}
{% block service_content %}
    <h2>Licences</h2>
    <p>
      You need a fishing rod licence to fish for salmon, trout, freshwater fish, smelt and eel with a rod and line in England (except the River Tweed), Wales and the Border Esk region of Scotland.
    </p>

    <p>
      <a href="{{service_base_url}}/buy" class="button expand">Buy a licence</a>	
      <a href="{{service_base_url}}/your-licences" class="button expand">View your licences</a>	
      <a href="{{service_base_url}}/check" class="button expand">Check a licence</a> 
    </p>

    <h2><i class="fa fa-map-marker fa-3"></i> What you are allowed to do where</h2>
    <p>
      There are different byelaws in each region that regulate what you can do where.
    </p>
    <p>
      <a href="#" class="button expand">Byelaws for your location</a> 
    </p>
{% endblock %}

