{% extends "base_service.html" %}
{% block service_page_title %}Fishing rod licence{% endblock%}
{% block service_title %}Fishing rod licence{% endblock%}
{% block service_content %}
    <p>
      You need a fishing rod licence to fish for salmon, trout, freshwater fish, smelt and eel with a rod and line in England (except the River Tweed), Wales and the Border Esk region of Scotland.

      You need an additional licence to fish in the Thames.

      You must always carry your rod licence when you’re fishing or you could be prosecuted.
    </p>
    <p>
    <a href="{{service_base_url}}/buy" class="button expand">Buy a licence</a>	
    <a href="{{service_base_url}}/your-licences" class="button expand">View your licences</a>	
    <a href="{{service_base_url}}/check" class="button expand">Check a licence</a> 
    </p>
    <h2>Information</h2>
    <ul class="side-nav">
      <li>
        <a href="">Salmon and trout licence</a>
      </li>
      <li>
        <a href="">Coarse licence</a>
      </li>
      <li>
        <a href="">River Thames licence</a>
      </li>
      <li>
        <a href="#">Rules and byelaws</a>
      </li>
    </ul>
{% endblock %}

