{% extends "base_service.html" %}
{% block service_page_title %}Fishing{% endblock%}
{% block service_title %}Fishing{% endblock%}
{% block service_content %}
    <h2>Licences</h2>
    <p>
      You need a fishing rod licence to fish for salmon, trout, freshwater fish, smelt and eel with a rod and line in England (except the River Tweed), Wales and the Border Esk region of Scotland.
      You need an additional licence to fish in the Thames.
    </p>

    <p>
      <a href="{{service_base_url}}/buy" class="button expand">Buy a licence</a>	
      <a href="{{service_base_url}}/your-licences" class="button expand">View your licences</a>	
      <a href="{{service_base_url}}/check" class="button expand">Check a licence</a> 
    </p>

    <h2>What you can do where</h2>
{% endblock %}

