{% extends "base.html" %}
{% block title %}Organisations{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
     <p>
      	<a href="{{url_for('start_type')}}" class="button expand">Start an organisation</a>	
      </p>
      <h2>Information</h2>
      <ul class="side-nav">
        <li>
          <a href="{{url_for('types')}}">Types of organisation</a>
        </li>
     </ul>
     <h3>Search organisations</h3>
        <form action="/search" method="get">
          <input type="text" name="q">
          <button type="submit" class="postfix button">Search</button>
        </form>
    </div>
  </div>
{% endblock %}
