{% extends "base.html" %}
{% block title %}Welcome{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <div class="banner">
        <h1>Hello.</h1>
        <h3 class="subheader">
          This is a prototype of how a digitally native state could work
        </h3>
      </div>

      <h3>Services</h3>
      <p>Services are focused on user need regardless of institutional boundaries. They are quick to build, change and run.</p>
      <ul class="side-nav">
        <li><a href="{{url_for('start')}}">Central government</a></li>
        <li><a href="{{config['LOCALGOV_BASE_URL']}}">City government</a></li>
        <li><a class="notbuilt" href="">Regional government</a></li>
        <li><a class="notbuilt" href="">Non-profit</a></li>
        <li><a class="notbuilt" href="">Commercial</a></li>
     </ul>

     <h3>Registries</h3>
     <p>
       Registries are organisations that look after the canonical personal and open data required for the functioning of the country, in the public interest.
     </p>
     <ul class="side-nav">
       <li>
         <a href="{{config['REGISTRY_BASE_URL']}}/registry-catalogue">Registries</a>
       </li>
       <li>
         <a href="{{config['REGISTRY_BASE_URL']}}/service-catalogue">Service permissions</a>
       </li>
       <li>
         <a href="{{config['REGISTRY_BASE_URL']}}/your-data">User permissions &amp; data ownership</a>
       </li>
       <li>
         <a href="{{config['REGISTRY_BASE_URL']}}/access">How services apply for access</a>
       </li>
     </ul>

      <h3>Shared platforms</h3>
      <p>
        Shared platforms and software make it easy to build services.
      </p>
      <ul class="side-nav">
       <li>
       <a href="{{url_for('note', note_slug='payments')}}">Payments</a>
        </li>
        <li>
          <a href="">Performance</a>
        </li>
        <li>
          <a href="">Search</a>
        </li>
        <li>
          <a href="">Publishing</a>
        </li>
        <li>
          <a href="">Blogs</a>
        </li>

        <li>
          <a href="">Identity verification</a>
        </li>
        <li>
          <a href="">Notifications</a>
        </li>
     </ul>
    </div>
  </div>
{% endblock %}
