{% extends "base_service.html" %}
{% block service_page_title %}Local alerts{% endblock%}
{% block service_title %}Local alerts{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <p>Alerts of what is happening near you from central and local government</p>
      <form action="" method="post">
        <h3>1) Choose area of interest</h3>
        <div id="map" class="large-map"></div>
        <p>
          <span class="label expand">~ <span id="example_count">12</span> notifications a week</span>
        </p>
        <h3>2) Choose type of alerts</h3>
        <ul>
          <li><label><input type="checkbox"/> Planning applications</label></li>
          <li><label><input type="checkbox"/> Parking suspensions</label></li>
          <li><label><input type="checkbox"/> Licencing applications</label></li>
        </ul>

        <h3>3) Choose notification type</h3>
        <ul>
          <li><label><input type="checkbox"/> Email</label></li>
          <li><label><input type="checkbox"/> SMS</label></li>
          <li><label><input type="checkbox"/> RSS</label></li>
        </ul>
      </form>
    </div>
  </div>
  <script type="text/javascript">

    var map = L.map('map').setView([51.505, -0.09], 13);
    L.tileLayer('http://{s}.tiles.mapbox.com/v3/memespring.kkkihcd2/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18
}).addTo(map);
    
    map.locate({setView: true, maxZoom: 16});

    map.on('moveend', function(e) {
      zoom = Math.floor((20 - map.getZoom()) * (Math.random()*3));
      $('#example_count').html(zoom);
    });

  </script>
{% endblock %}
