{% extends "base_service.html" %}
{% block service_page_title %}Organisations{% endblock%}
{% block service_title %}Organisations{% endblock%}
{% block service_content %}
  <form action ="/search" method="GET">
    <input type="hidden" name="scope" value="organisation"/>
    <h2>Find an organisation</h2>
    <input name="q" type="text" placeholder="organisaton or director name">
    <button type="submit" class="button expand">Search</button>
  </form>
  <hr/>
  <div class="row">
    <div class="small-12 columns">
      <h3>Organisation account</h3>
      <p>
          Sign in to view real-time taxes and renew licences for your organisation.
      </p>
      <p>
        <a href="{{service_base_url}}/manage" class="button expand">Go to account</a>
      </p>
      <h3>Start an organisation</h3>
      <p>
         Instantly start a new company, non-profit or partnership, appoint directors or trustees and register for taxes.
      </p>
      <p>
          <a href="{{service_base_url}}/start" class="button expand">Start a new organsiation</a>
      </p>
    </div>
  </div>
{% endblock %}
