{% extends "base_service.html" %}
{% block service_page_title %}Companies &amp; organisations{% endblock%}
{% block service_title %}Companies &amp; organisations{% endblock%}
{% block service_content %}
  <p>
    Start a new organsiation or manage and find information about existing ones.
  </p>

  <h2>Search organsiations</h2>
  <form action ="/search" method="GET">
    <input name="q" type="text">
    <button type="submit" class="button expand">Search</button>
  </form>
  
  <h2>Start a new organsiation</h2>
  <p>
    Instantly start a new company, non-profit or partnership.
  </p>
  <p>
    <a href="{{service_base_url}}/start" class="button expand">Start a new organsiation</a>	
  </p>
  <h2>Information</h2>
  <ul class="side-nav">
    <li>
      <a href="">Guide for directors</a>
    </li>
    <li>
      <a href="">Guide for trustees</a>
    </li>
    <li>
      <a href="">Types of organsiation</a>
    </li>
  </ul>
{% endblock %}

