{% extends "base.html" %}
{% block title %}Set account password{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field %}
  <div class="row">
    <div class="large-11 large-offset-1 columns">
      <div class="banner">
        <h1>Set account password</h1>
      </div>
       <form action="{{url_for('confirm_account', token=token)}}" method="post">
        {{ render_field(form.password, placeholder="New password") }}
        {{ render_field(form.confirm, placeholder="Repeat password") }}
        {{ form.csrf_token }}
          <button type="submit" class="button" {% if user.password_set%}disabled{% endif %}>Set password</button>
       </form>
    </div>
  </div>
{% endblock %}
