{% extends "base.html" %}
{% block title %}GOV.UK{% endblock%}
{% block content %}
  <div class="header">
    <nav class="top-bar home" data-topbar>
      <h1 class="title">
        <a href="{{url_for('search_results')}}">
          <img id="header_crown" src="{{url_for('static', filename='images/crown_white.png')}}"/>
          GOV.UK
        </a>
      </h1>
    </nav>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="panel">
        <form action="/search" method="get">
          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <div class="small-10 columns">
                  <input type="text" placeholder="Search">
                </div>
                <div class="small-2 columns">
                  <a href="#" class="button postfix">Go</a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <h3>Popular services</h3>
      <dl>
        {% for service in services %}
          <dt>
            <a href="{{url_for('service', service_slug=service.slug)}}">
              {{service.name}}
            </a>
          </dt>
          <dd>
            {{service.description}}
          </dd>
        {% endfor %}
      </dl>

    </div>
  </div>
{% endblock %}
