{% extends "base.html" %}
{% block title %}{{name}}{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
      <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
        <li role="menuitem"><a href="/">Organisations</a></li>
        <li role="menuitem"><a href="{{url_for('types')}}">Types</a></li>
        <li role="menuitem" class="current"><a href="#">{{name}}</a></li> 
      </ul>
      <h1>{{name}}</h1>
      {% include detail_template %}
    </div>
 </div>
{% endblock %}
