{% extends "base.html" %}
{% block title %}Types of organisation{% endblock%}
{% block content %}
  <div class="row">
    <div class="small-12 columns">
     <h1>Types of organisation</h1>
      <ul class="side-nav">
        <li>
          <a href="{{url_for('types_public_limited_company')}}">Public Limited Company</a>
        </li>
        <li>
          <a href="{{url_for('types_private_limited_company')}}">Private company limited by guarantee</a>
        </li>
        <li>
        <a href="{{url_for('types_ordinary_business_partnership')}}">'Ordinary' business partnership</a>
        </li>
       <li>
         <a href="{{url_for('types_limited_partnership')}}">Limited partnership</a>
        </li>
        <li>
        <a href="{{url_for('types_limited_liability_partnership')}}">limited liability partnership</a>
        </li>
        <li>
        <a href="{{url_for('types_unincorperated_association')}}">Unincorporated association</a>
        </li>
        <li>
        <a href="{{url_for('types_charity')}}">Charity</a>
        </li>
        <li>
        <a href="{{url_for('types_charitable_incorperated_organisation')}}">Charitable incorporated organisation</a>
        </li>
        <li>
        <a href="{{url_for('types_cooperative')}}">Co-operative</a>
        </li>
        <li>
        <a href="{{url_for('types_industrial_and_provident_society')}}">Industrial and provident society</a>
        </li>
        <li>
        <a href="{{url_for('types_community_interest_company')}}">Community interest company</a>
        </li>
    </ul>
    </div>
  </div>
{% endblock %}
