{% extends "base_service.html" %}
{% block service_page_title %}Finding work{% endblock%}
{% block service_title %}Finding work{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <p>
        <a href="{{config.WORK_BASE_URL}}/job-seeker" class="button expand">Account [type 1, needs name]</a>
        <a href="{{url_for('work_book_appointment')}}" class="button expand">Book a consultation</a>
      </p>
      <h3>Job search tools</h3>
      <ul class="small-block-grid-2">
          <li>
            <a href="#">
              Diagnostic survey
            </a>
            <p>
              Understand your skills and the sort of 
              jobs available near you. Generate a report to share with 
              your work coach.
            </p>
          </li>
          <li>
            <a href="#">
              Local job alerts
            </a>
            <p>
              Alerts of jobs within commuting distance,
              within childcare hours etc
            </p>
          </li>
          <li>
            <a href="#">
              Find commercial services
            </a>
            <p>
              Find industry specific job tools that
              integrate with GOV.UK.
            </p>
          </li>
          <li>
            <a href="#">
              Childcare finder
            </a>
            <p>
              Find registered childcare providers.
            </p>
          </li>
          <li>
            <a href="#">
              Social job groups
            </a>
            <p>
              Get help finding the right job, help others 
              do the same
            </p>
          </li>
      </ul>
    </div>
  </div>
{% endblock %}
