{% extends "base_service.html" %}
{% block service_page_title %}Work in the UK{% endblock%}
{% block service_title %}Work in the UK{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <h3>For workers</h3>
      <p>
        <a href="#" class="button expand">Apply to work in the UK</a> 
        <a href="#" class="button expand">Track your application</a>
        <a href="{{service_base_url}}/prove-status" class="button expand">Get a proof of status</a>
      </p>
      <h3>For sponsors</h3>
      <p>
        You will need to advertise the job you’re offering if it’s not on the 
        <a href="{{url_for('thing', service_slug='work-visa', things_slug='lists', thing_slug=occupation_list_id)}}">shortage occupation list.</a>
      </p>
      <p>
          <a href="{{service_base_url}}/sponsorship" class="button expand">Apply for a sponsorship certificate</a>
      </p>
    </div>
  </div>
{% endblock %}
