{% extends "base_service.html" %}
{% block service_page_title %}Finding work{% endblock%}
{% block service_title %}Finding work{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <p>
        <a href="#" class="button expand">Account [type 1, needs name]</a>
        <a href="#" class="button expand">Book a consultation</a>
      </p>
      <h3>Job search tools</h3>
      <ul class="small-block-grid-2">
          <li>
            <a href="/fishing">
              Diagnostic survey
            </a>
            <p>
              Understand your skills and the sort of 
              jobs available near you.
            </p>
          </li>
          <li>
            <a href="/local-alerts">
              Local job alerts
            </a>
            <p>
              Alerts of jobs within commuting distance,
              within childcare hours etc
            </p>
          </li>
          <li>
            <a href="/local-alerts">
              Find commercial services
            </a>
            <p>
              Find industry specific job tools that
              integrate with GOV.UK.
            </p>
          </li>
          <li>
            <a href="/local-alerts">
              Childcare finder
            </a>
            <p>
              Find registered childcare providers.
            </p>
          </li>
      </ul>
    </div>
  </div>
{% endblock %}
