{% extends "base_service.html" %}
{% block head %}
{% endblock %}
{% block service_page_title %}{% endblock%}
{% block service_title %}{% endblock%}
{% block service_content %}
  <div class="row">
    <div class="small-12 columns">
      <h2>Book a consultation</h2>
      <p>
          Get help starting your journey back to work. 
          Find out what the best support is for you, 
          what will be required of you
          and what financial help you will get.
      </p>

        <h3>Online (recommended)</h3>
        <p>
            Average wait, 1 hour.
        </p>
        <p>
            <a class="button expand" href="#">Book now</a>
        </p>

        <h3>In person</h3>
        <p>
            Average wait, 5 days.
        </p>
        <p>
            <a class="button expand" href="#">Book now</a>
        </p>


        <h3>Phone</h3>
        <p>
            Average wait, 24 hours.
        </p>
        <p>
            <a class="button expand" href="#">Book now</a>
        </p>

    </div>
  </div>

{% endblock %}
