* {
    box-sizing:border-box;
}

body {
  font: helvetica neue, arial;
  background-color: none;
  color: #0b0c0c;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#global-header {
  background-color: none;
  width: 100%;
  font-family: Helvetica neue;
  font-style: none;
  font-weight: 400;
  font-size: 27px;
  color: white;
  min-height: 50px;
}

#global-header .header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 50px;
  background-color: none;
  max-width: 1720px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


#global-header .text-header {
    text-align: center;
    padding-top: 15px;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

#global-header .text-sub-header {
    text-align: center;
    padding-top: 10px;
    padding-left: 15%;
    padding-right:15%;
   /* font-size: 36px;*/
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: black;
}

.row {
  max-width: 100%!important;
}

.row-video {
  max-width: 100%!important;
  background-color: #eeeeee;
}

.video-holder {
    /*height: 400px;*/
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 30px;
    /*padding-bottom: 15px;*/
    background-color: #eeeeee;
}

.findings-column {
    height: 400px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 200px;

  background:
    linear-gradient(
      rgba(0, 94, 165, 0.8),
      rgba(0, 94, 165, 0.8)
    ),

    url(/static/images/findings.jpg) no-repeat;
    background-size: cover;

    /*url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/owl1.jpg);*/
}
.findings-column:hover {
  background:
      linear-gradient(
        rgba(0, 94, 165, 0.95),
        rgba(0, 94, 165, 0.95)
      ),

      url(/static/images/findings.jpg) no-repeat;
      background-size: cover;

    /*url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/owl1.jpg);*/
}

.summary {
  margin-top: 75px;
  padding: 20px;
  color: #FFFFFF;
  background: linear-gradient(
      rgba(0, 94, 165, 0.95),
      rgba(0, 94, 165, 0.95)
    );
}

.summary-detail-text {
  font-size: 24px;
  padding-bottom: 30px;
}

.summary h2 {
  font-size: 36px;
  color: #FFFFFF;
  padding-bottom: 15px;
}

.summary,
.blog {
  padding: 20px;
  margin-bottom: 25px;
}

.summary-subhead {
  font-size: 36px;
  padding-bottom: 30px;
  line-height: 40px;
}

.summary-list ul  {
  margin-top: 1.1rem;
}

h3 {
  font-size: 36px;
}

h4 {
  font-size: 27px;
}

ul.learnings {
  list-style-type: none;
  padding:0;
  border-bottom:0;
  margin-bottom:60px;
  text-decoration: none; 
  font-size: 19px;
  margin-left: 0;
}

/*.large-8 {
  padding-left: 0!important;
}*/

ul.learnings li {
  border-bottom: solid 1px #dfdfdf;
  padding-bottom:10px;
  margin-top: 10px;
}

ul.learnings li a {
/*  padding: 0.875rem 0.875rem!important;
*/}

ul.learnings li > a:after {
  content: "â¯";
  float:right;
  padding-right: 5px;
}

.blog {
  padding: 1.1rem;
  background: #ddd;
}

.concept-column {
    height: 400px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 200px;
     background:
    linear-gradient(
      rgba(40, 161, 151, 0.8),
      rgba(40, 161, 151, 0.8)
    ),

    url(/static/images/concept.jpg);
    background-size: cover;
}

.concept-column:hover {
    background:
    linear-gradient(
      rgba(40, 161, 151, 0.95),
      rgba(40, 161, 151, 0.95)
    ),

    url(/static/images/concept.jpg);
    background-size: cover;
}

.demo-column {
    height: 400px;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 200px;
     background:
    linear-gradient(
      rgba(0, 94, 165, 0.8),
      rgba(0, 94, 165, 0.8)
    ),

    url(/static/images/demo.jpg);
    background-size: cover;
}
.demo-column:hover {
    background:
    linear-gradient(
      rgba(0, 94, 165, 0.95),
      rgba(0, 94, 165, 0.95)
    ),

    url(/static/images/demo.jpg);
    background-size: cover;
}

.findings-column h1 {
  font-size: 27px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  margin-top: 15px;
}

.concept-column h1 {
  font-size: 27px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  margin-top: 15px;
}

.demo-column h1 {
  font-size: 27px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  margin-top: 15px;
}

.area-summary {
  font-size: 19px;
  line-height: 25px;
  color: white;
  font-weight: 400;
  padding: 10px 0;
}

.ecosystem {
  margin-top: 75px;
  padding: 30px;
  color: #FFFFFF;
  background: rgba(0, 94, 165, 0.85) url(/static/images/greenpaper/ecosystem.png) top left no-repeat;
  background-size: contain;
  height: 650px;

}

.ecosystem h2 {
 font-size: 1.9rem;
}

.ecosystem h3 {
 font-size: 1.3rem;
}

.ecosystem h2, h3 {
  color: inherit;
  margin-top: 2.5rem;
}
.ecosystem ul {
  list-style: none;
}

.ecosystem li>span {
  font-size: 1.6rem;
  margin-right: 0.4rem;
}

span.light-blue {
  color: #26A9E0;
}

span.orange {
  color: #F9A51A;
}

span.green {
  color: #8BC53F;
}

span.pink {
  color: #DF62A4;
}

