* {
    box-sizing:border-box;
}

body {
  font: helvetica neue, arial;
  background-color: none;
  color: #0b0c0c;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#global-header {
  background-color: none;
  width: 100%;
  font-family: Helvetica neue;
  font-style: none;
  font-weight: 400;
  font-size: 27px;
  color: white;
  min-height: 50px;
}

#global-header .header-wrapper {
  padding-left: 15px;
  padding-right: 15px;
  min-height: 50px;
  background-color: none;
  max-width: 1720px;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


#global-header .text-header {
    text-align: center;
    padding-top: 15px;
    font-size: 48px;
    font-weight: 700;
    color: black;
}

#global-header .text-sub-header {
    text-align: center;
    padding-top: 10px;
    padding-left: 15%;
    padding-right:15%;
   /* font-size: 36px;*/
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    color: black;
}

.row {
  max-width: 100%!important;
}

.row-video {
  max-width: 100%!important;
  background-color: #eeeeee;
  margin-top: 30px;
}

/*.row-boxes {
  max-width: 100%!important;
  margin-bottom: 30px!important;
}*/

.video-holder {
    /*height: 400px;*/
    padding-top: 60px;
    padding-bottom: 60px;
    /*padding-bottom: 15px;*/
    background-color: #eeeeee;
}

.findings-column {
    height: 400px;
    margin-top: 0px;
    /*margin-bottom: 20px;*/
    padding-top: 15px;
    padding-bottom: 200px;
    padding-left: 30px;
    padding-right: 30px;

  background:
    linear-gradient(
      rgba(0, 94, 165, 0.8),
      rgba(0, 94, 165, 0.8)
    ),

    url(/static/images/findings.jpg) no-repeat;
    background-size: cover;

    /*url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/owl1.jpg);*/
}
.findings-column:hover {
  background:
      linear-gradient(
        rgba(0, 94, 165, 0.95),
        rgba(0, 94, 165, 0.95)
      ),

      url(/static/images/findings.jpg) no-repeat;
      background-size: cover;

    /*url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/owl1.jpg);*/
}

.summary {
  margin-top: 75px;
  margin-bottom: 0px!important;
  padding: 30px!important;
  color: #FFFFFF;
  background: linear-gradient(
      rgba(0, 94, 165, 0.95),
      rgba(0, 94, 165, 0.95)
    );
}
.learnings-list {
  margin-top: 15px;
  padding: 30px!important;
}

.summary-detail-text {
  font-size: 24px;
  padding-bottom: 30px;
}

.summary h2 {
  font-size: 36px;
  color: #FFFFFF;
  padding-bottom: 15px;
}

.summary,
.blog {
  padding: 20px;
  margin-bottom: 25px;
}

.summary-subhead {
  font-size: 36px;
  padding-bottom: 30px;
  line-height: 40px;
}

.summary-list ul  {
  margin-top: 1.1rem;
}

h4 {
  font-size: 27px;
}

.learnings-list h3 {
  font-size: 36px;
  margin-top: 0;
}

ul.learnings {
  list-style-type: none;
  padding:0;
  border-bottom:0;
  margin-bottom:60px;
  text-decoration: none;
  font-size: 19px;
  margin-left: 0;
}

/*.large-8 {
  padding-left: 0!important;
}*/

ul.learnings li {
  border-bottom: solid 1px #dfdfdf;
  padding-bottom:10px;
  margin-top: 10px;
}

ul.learnings li a {
/*  padding: 0.875rem 0.875rem!important;
*/}

ul.learnings li > a:after {
  content: "â¯";
  float:right;
  padding-right: 5px;
}

.blog {
  padding: 30px!important;
  background: #ddd;
}

.blog-header {
  color: red;
  background: #ddd;
}

.posts  {
  font-size: 19px;
  font-weight: 700;
  margin-top: 30px;

}


.concept-column {
    height: 400px;
    margin-top: 0px;
    /*margin-bottom: 20px;*/
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;
     background:
    linear-gradient(
      rgba(40, 161, 151, 0.8),
      rgba(40, 161, 151, 0.8)
    ),

    url(/static/images/concept.jpg);
    background-size: cover;
}

.concept-column:hover {
    background:
    linear-gradient(
      rgba(40, 161, 151, 0.95),
      rgba(40, 161, 151, 0.95)
    ),

    url(/static/images/concept.jpg);
    background-size: cover;
}

.demo-column {
    height: 400px;
    margin-top: 0px;
    /*margin-bottom: 20px;*/
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;
     background:
    linear-gradient(
      rgba(0, 94, 165, 0.8),
      rgba(0, 94, 165, 0.8)
    ),

    url(/static/images/demo.jpg);
    background-size: cover;
}
.demo-column:hover {
    background:
    linear-gradient(
      rgba(0, 94, 165, 0.95),
      rgba(0, 94, 165, 0.95)
    ),

    url(/static/images/demo.jpg);
    background-size: cover;
}

.findings-column h1 {
  font-size: 27px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  margin-top: 15px;
}

.concept-column h1 {
  font-size: 27px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  margin-top: 15px;
}

.demo-column h1 {
  font-size: 27px;
  line-height: 30px;
  color: white;
  font-weight: 700;
  margin-top: 15px;
}

.area-summary {
  font-size: 19px;
  line-height: 25px;
  color: white;
  font-weight: 400;
  padding: 10px 0;
}

.ecosystem {
  margin-top: 75px;
  padding: 30px;
  color: #FFFFFF;
  background: rgba(0, 94, 165, 0.85)
}

.ecosystem-text {
  padding-left: 0;
}

.ecosystem-maps {
  padding: 0;
}

.ecosystem img{
  padding: 0;
}

.ecosystem h2 {
 font-size: 36px;
 line-height: 40px;
 margin-top: 15px!important;
 margin-bottom: 30px;
}

.ecosystem h3 {
 font-size: 19px;
 margin-top: 30px;
}

.ecosystem h2, h3 {
  color: inherit;
  margin-top: 2.5rem;
}

.ecosystem ul {
  list-style: none;
  font-size: 16px;
  margin-left: 0;
  padding-left: 0;
}

.ecosystem li>span {
  font-size: 19px;
  margin-right: 10px;
  line-height: 25px;
}

span.light-blue {
  color: #26A9E0;
}

span.orange {
  color: #F9A51A;
}

span.green {
  color: #8BC53F;
}

span.pink {
  color: #DF62A4;
}

.infrastructure {
  margin-top: 50px;
  color: #FFFFFF;
/*  padding: 30px;*/
}

.infrastructure img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.infrastructure h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  line-height: 40px;
}

#infrastructure-summary {
  margin-top: 60px;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

#infrastructure-summary h4 {
  font-size: 27px;
}

#infrastructure-summary p {
  font-size: 19px;
  color: gray;
}

#infrastructure-summary img {
    width: 100px;
}

#fishing-service {
  background-color: #ECEDED;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 60px;
}

#fishing-service img {
  padding: 0;
}

#fishing-service h2 {
 font-size: 36px;
 line-height: 40px;
 margin-top: 15px!important;
 margin-bottom: 30px;
}

.fishing-service-text {
  padding-left: 0px;
  padding-right: 30px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.fishing-service-text p {
  font-size: 19px;
}

.fishing-service-diagram {
  padding: 0;
}

.footer {
  padding-left: 15px;
  margin-top: 30px;
}

@media only screen and (max-width : 720px) {

#global-header .text-sub-header {
    text-align: center;
    padding-top: 10px;
    padding-left: 15px;
    padding-right:15px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
}

.findings-column{
  height: 300px;
}
 .concept-column{
  height: 300px;
} 
 .demo-column{
  height: 300px;
} 

.infrastructure h2 {
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

}

@media only screen and (max-width : 480px) {

#global-header .text-sub-header {
    padding-top: 10px;
    padding-left: 10px;
    padding-right:10px;
    font-size: 19px;
    line-height: 25px;
} 

}

@media only screen and (max-width: 40em) {

  #ecosystem {
    padding: 0px;
    height: 450px;
  }

  #infrastructure {
    padding: 0px;
    height: 350px;
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    #ecosystem h3 {
      margin-top: 8.5rem;
    }

    #infrastructure {
      padding: 0px;
      height: 450px;
    }
}

