
body {
  margin-bottom:100px;
}
/* Typography */
body, h1, h2,h3, h4, h5 .button, table {
  font-family: 'Roboto Slab', serif;
}
/*a {*/
  /*text-decoration:underline;*/
/*}*/

/* Header */
.header {
  background:#333;
  margin-bottom: 10px;
}

.top-bar {
  max-width: 62.5rem;
  margin:0 auto 15px auto;
}

.top-bar h1 {
  font-size:1.3rem;
}

.top-bar ul.title-area {
  width:50%;
}

.top-bar a {
  text-decoration:none;
}

/* Tables */
table {
  width:100%;
}

/* Verified facts */
ul.verified-facts {
  margin:0;
  border:solid 2px #43AC6A;;
  padding: 0.77778rem 1.33333rem 0.77778rem 0.77778rem;
  color:#fff;
  margin-bottom:1.11111rem;
}

ul.verified-facts span {
  font-size:1.3rem;
  padding-right:5px;
  position:relative;
  top:2px;
}


ul.verified-facts li {
  list-style-type:none;
  color:#43AC6A;
}

/* Secondary nav */
ul.side-nav {
  border: solid 1px #dfdfdf;
  padding:0;
  border-bottom:0;
}

ul.side-nav li {
  border-bottom: solid 1px #dfdfdf;
  margin-bottom:0;
}

ul.side-nav li a {
  padding: 0.875rem 0.875rem!important;
}

ul.side-nav li > a:after {
  content: "❭";
  float:right;
}

/* Footer */
.meta {
  /*position:fixed;*/
  bottom:0;
}

.meta .columns div {
  background:#dfdfdf;
  margin-top:2rem;
  padding:2rem;
  font-size:0.9rem;
  color:#808080;
}
