body {
  margin-bottom: 100px!important;
}

/* Typography */
body, h1, h2,h3, h4, h5 .button, table, label {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'nta', Arial, Helvetica;
}


h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}

a {
  color:#005EA5;
}


p, dl, ul, label {
  font-size:1.2rem;
}

p {
  line-height: 1.6rem;
}

dl dd {
  font-size:1.1rem;
  margin-bottom:1.1rem;
}


.tab-bar #header_crown {
  height: 27px;
  padding-left: 4px;
  position:absolute;
  top:8px;
}

.top-bar #header_crown {
  height: 27px;
  margin-top: -10px;
  margin-right: 7px;
  margin-left:4px;
}

.tab-bar h1, .top-bar h1 {
  font-size: 1.35rem;
  text-align:center;
  margin-top:3px;
}

.top-bar.home h1 {
  text-align:left;
}

.tab-bar a, .top-bar a {
  text-decoration:none;
}

.top-bar h1.title {
  padding-top: 7px;
  font-size: 1.35rem;
}

a.register-link, a.register-link:hover {
  padding-left:0.5rem;
  font-size:0.8rem;
  text-decoration:none!important;
}

.checkbox label {
  display:inline!important;
}

.button, .button.disabled, .button[disabled] {
  background:#468b30;
  border-bottom:5px solid #30642e;
  font-family: 'nta', Arial, Helvetica!important;
  font-weight:bold;
  font-size: 1.35rem;
  padding-bottom: 0.5rem;
  padding-top: 0.75rem;
}

.button.disabled, .button[disabled] {
  opacity:0.5;
}

.button.postfix {
  margin-top:0;
}

.button:hover, .button:focus {
  background-color:#30642e;
}

.button.tiny {
  margin:0;
  border-bottom:none;
}

.button.postfix {
  font-size: 1rem;
  padding-top: 2px;
}

.switch input:checked + label {
  background: url("../images/tick-icon.png") no-repeat scroll 7px 5px #468B30;
  background-size: 30px 30px;
}

.switch {
  float:left;
  width:80px;
  margin-right:10px;
}
.switch-label {
  font-weight:bold;
  font-size:1.3rem;
  position:relative;
  top:5px;
}

.label.expand {
  width:100%;
  font-size:1rem;
}

.hint {
  border-bottom:solid 1px #ccc;
  padding:0 0 1rem 0;
}

/*a {*/
  /*text-decoration:underline;*/
/*}*/
.right-off-canvas-toggle, .left-off-canvas-toggle {
  text-align:center;
  font-size:1.3rem;
}

.off-canvas-wrap .inner-wrap {
  min-height:500px;
}

.left-off-canvas-menu p {
  padding: 0.66667rem;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom:0;
}

.left-off-canvas-menu a {
  color:rgba(255, 255, 255, 0.7);
  text-decoration:underline;
}

.left-off-canvas-menu h3, .right-off-canvas-menu h3 {
  padding: 0.3rem 0.9375rem;
  color: #999;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: bold;
  background: none repeat scroll 0% 0% #444;
  border-top: 1px solid #5E5E5E;
  border-bottom: medium none;
  margin: 0px;
}

.tab-bar {
  margin-bottom:1rem;
}

.tab-bar h1 a {
  color:#fff;
}

.tab-bar .fa {
  text-indent: 0;
  width: 2.8125rem;
  height: 2.8125rem;
  display: block;
  line-height: 3.060rem;
  padding: 0px;
  color: #FFF;
  position: relative;
}

.fa.notification {
  color:#F04124;
  font-size:16px;
  position:absolute;
  top:-8px; right:-8px;
}

.header {
  background:#0B0C0C;
  margin-bottom: 10px;
}

.header.service, .header.service .top-bar,
.off-canvas-wrap.service .tab-bar,
.off-canvas-wrap.service .left-off-canvas-menu,
.off-canvas-wrap.service .right-off-canvas-menu {
  background:#0B0C0C;
}

.header.service .top-bar {
  margin-bottom: 30px;
}

ul.off-canvas-list label {
  font-size:0.875rem;
}

ul.off-canvas-list .round.alert.label {
  position:relative;
  top:-3px;
  margin-right:5px;
  font-weight:bold;
}

ul.off-canvas-list .fa {
    margin-right:14px;
    font-weight:bold;
}

ul.off-canvas-list form {
  padding: 0 4px;
}

ul.off-canvas-list form .columns {
  padding:10px 5px 0px 3px;
  height:57px;
}

.top-bar {
  max-width: 62.5rem;
  margin:0 auto 15px auto;
  background:#0B0C0C;
}

@media only screen and (min-width: 64.063em) {
  .top-bar h1 {
    text-align:left;
    padding-left:15px;
  }
}

.top-bar a {
  text-decoration:none;
  color:#fff;
}

/* Tables */
table {
  width:100%;
}

/* Verified facts */
ul.verified-facts {
  margin: 0;
  padding: 15px 20px 0.77778rem 30px;
  color:#fff;
  margin-bottom:1.11111rem;
  background: #2373b5 url(../images/tick-icon.png) no-repeat right 15px  top 15px;
  background-size:35px;
  min-height: 75px
}

ul.verified-facts li {
  width:90%;
}

 ul.verified-facts a {
  color:#fff;
  text-decoration:underline;
 }

 ul.verified-facts .pending, ul.verified-facts .pending a {
  color:#fafafa;
 }

 ul.verified-facts .pending span {
  font-weight:bold;
 }

 ul.small-block-grid-2 p {
  color:#6F777B;
  width:80%;
 }

ul.todolist {
  border-top: solid 1px #dfdfdf;
  margin:1rem 0;
  list-style-type: none;
  margin-left:0;
}

ul.todolist li {
  border-bottom: solid 1px #dfdfdf;
  padding:0.5rem 1rem;
}

dl.inline {
  text-align:left;
}

dl.inline dt {
  display:block;
  float:left;
  width:30%;
  font-weight:normal;
}

form {
  margin-bottom: 100px;
}

form.search {
  margin-bottom:0;
}

form h3 {
  margin-top: 30px;
}

form .button {
  margin-top: 15px;
}


form label {
  padding-top: 0.8rem;
  padding-bottom:0.7rem;
  white-space: normal;
}

form ul.verified-facts {
  padding: 0.4rem 1.33333rem 0.4rem 0.4rem;
}

form ul.radio li {
  background:#eceded;
  padding:15px 15px;
  margin:0 0 0.7rem 0;
  white-space: nowrap;
}

form ul.radio li label {
  padding-bottom:0;
  padding-top: 5px;
}

form ul.radio li input {
  margin:0;
}

form ul.radio li input[type="radio"] {
  vertical-align: top;
  margin-top: 0.5rem;
}

ul.verified-facts span {
  font-size:1.3rem;
  padding-right:5px;
  position:relative;
  top:2px;
}

form ul {
    list-style-type:none;
    margin:1rem 0 1rem 0;
}

form ul li {
  margin:1rem 0 0 0;
}

form .ul.radio {

}

/* Secondary nav */
ul.side-nav {
  border: solid 1px #dfdfdf;
  padding:0;
  border-bottom:0;
  margin-bottom:2rem;
}

ul.side-nav li {
  border-bottom: solid 1px #dfdfdf;
  margin-bottom:0;
}

ul.side-nav li a {
  padding: 0.875rem 0.875rem!important;
}

ul.side-nav li > a:after {
  content: "â¯";
  float:right;
}

ul.side-nav li > a.notbuilt, ul.side-nav li > a.notbuilt:hover {
  color:#ccc;
  background-color: #fff;
  cursor: default!important;
}

ul.side-nav li > a.notbuilt:after {
  content: none;
}

/* Done */
div.done {
  text-align:center;
  color:#fff;
  background: #28A197;
}

.done.pending {
  background:#6F777B;
}

div.done h2, div.done p, div.done a {
  color:#fff;
}
div.done a {
  text-decoration:underline;
}
div.done p {
  font-size:1.2rem;
}

/* Footer */
.meta, .meta h3 {
  /*position:fixed;*/
  bottom:0;
  font-size:0.8rem;
  line-height: 1.4rem;

}

.meta .columns div {
  background:#f9f9f9;
  margin-top:2rem;
  padding:2rem;
  font-size:0.9rem;
  color:#808080;
  border: 1px solid #DFDFDF;
  border--bottom:none;
}

.panel {
   background:#fff;
   border-color:#ddd;
   box-shadow: 1px 1px 1px #fafafa;
   padding-bottom:2.5rem;
   padding-top:2rem;
   position:relative;
}

.panel.ticket {
  border:none;
  text-align:center;
  background-color:#ededed;
  clear: both;
  margin-bottom: 15px;
  margin-top:0;
}

.panel.ticket h2 {
  display:center;
  color:#6b6b6f;
  font-weight:normal;
  border-bottom:solid 1px #969696;
  padding-bottom:1rem;
  font-family:helvetica, arial, sans-serif;
  font-weight:lighter;
  font-size: 1.4rem
}

.panel.ticket h2 img {
  display:block;
  margin:0 auto;
  height:100px;
}

.panel.ticket h3 {
  margin: 1rem 0 1rem 0;
}

.panel.ticket .ticket-footer {
  border-top:solid 1px #969696;
  color:#6b6b6f;
  padding-top:1.5rem;
}

.panel.ticket p.validity {
  margin-bottom:7px;
}

.panel.ticket dl {
  font-size:0.975rem;
}

.panel.ticket dl dd {
  margin-bottom:10px;
  font-size:0.975rem;
  text-align: left;
}

.panel.ticket dl dt {
  float:left;
  width:6rem;
  text-align: left;
}

.panel.ticket span.reference-number {
  font-size: 16px;
  display: block;
  text-align: center;
  color:#fff;
  padding:15px 8px 5px 8px;
  color:#333;
}

.panel.confirmation {
  background: #ededed url(../images/crest-bookmark-green.png) no-repeat right 15px top;
  background-size: 80px;
}

.panel.confirmation dt, .panel.confirmation dd {
  
}

.panel.confirmation.unconfirmed {
  background: #ededed url(../images/crest-bookmark-grey.png) no-repeat right 15px top;
  background-size: 80px;
  color:#808080;
  opacity:0.8;
}

ul.save-print {
  list-style-type: none;
  float: left;
  margin-left: 0;
  margin-bottom: 30px;
}

ul.save-print li {
  list-style-type: none;
  display: inline-block;
  padding-right: 30px;
  float: left;
}

.panel.card {
  position:relative;
}

.panel.card i {
  position:absolute;
  top:20px;
  left:20px;
}

.panel.card {
  padding-left:80px;
}

.banner {
  margin:3rem 0;
}

textarea {
  height:200px;
}

.tabs {
  margin-bottom: 2rem!important;
}

.tabs.full-4 dd {
  width: 25%;
  text-align:center;
}

.tabs.full-3 dd {
  width: 33.333%;
  text-align:center;
}

.tabs.full-2 dd {
  width: 50%;
  text-align:center;
}

/* Maps */
.large-map {
  height: 300px;
  margin-bottom:1rem;
}

.large-map .bounds {
    height: 80%;
    border: 5px solid rgb(207, 42, 14);
    z-index: 99;
    position: absolute;
    width: 80%;
    top: 10%;
    left: 10%;
}

.joyride-tip-guide {
  z-index:9999;
}

/* accordian */
.accordion {
  margin-left:0;
}



/* Avatars */

.person {
  margin-top:1rem;
  margin-left: 0px;
  margin-bottom: 1rem;
}
.person .photo {
  background-color: #ccc;
  border-radius: 100px;
  width: 70px;
  height: 70px;
  float: left;
  margin-right: 15px;
  overflow:hidden;
}

.person .photo img {
  position:relative;
}

.person p {
  position: relative;
  top: 5px;
}
.person p:nth-child(2) {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}

.person p:nth-child(3) {
  font-size: 14px;
  font-weight: 400;
  color: #777;
}

#central-welcome {
  background:#005EA5;
  position:relative;
  top:-15px;
  color:#fff;
  padding-top:2rem;
  padding-bottom:1rem;
}

#central-welcome form {
  margin-bottom:20px;
}

#central-welcome h2 {
    color:#fff;
    font-size:2rem;
}

#central-welcome .button {
  background:#0B0C0C;
  margin-top:0;
}

.service-signout {
  text-align:center;
  margin:3rem 15px 0 15px;
}

#admin-header {
  background: #9ACD32;
  padding: 10px;
  font-size:1.2rem;
}

.messages {
  margin-top: 5px;
}

.alert-box {
  margin-bottom: 0;
}
