{% extends 'base.html' %}
{% block title %}Background and Findings{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
    <div class="row">
      <div class="small-12 large-12 columns">
        <header id="global-header">
              <div class="header-wrapper">
                  <div class="text-header">Background and Findings</div>
                  <div class="text-sub-header">We have a lot to learn</div>
                </div>
        </header>
      </div>
    </div>
    <div class="row summary">
        <div class="row">
          <div class="small-12 large-12 columns">
            <h2>Aims and objectives</h2>
           </div>
        </div>
        <div class="row summary-detail">
           <div class="small-12 large-6 columns">
              <div class="summary-subhead">To develop a longer-term vision for digital government beyond the next Parliament.
              </div>
          </div>
         <div class="small-12 large-6 columns">
            <div class="summary-detail-text">The UK has an opportunity to deliver better and more joined-up public services, for less, whilst stimulating innovation and new partnerships. In order to enable this we must put in place bold new digital civic infrastructure and build greater service delivery capability in the civil service.
            </div>
          </div>
      </div>
  </div>
  <div class="row learnings-list">
  <div class="row">
    <div class="small-12 large-4 columns">
       <h3>What we have learnt</h3>
    </div>
    <div class="small-12 large-8 columns">
      <ul class="learnings">
         <li><a href="{{url_for('paper.registers')}}">Registers &amp; register ecosystem</a></li>
        <li><a href="{{url_for('paper.services')}}">Services &amp; service ecosystem</a></li>
        <li><a href="{{url_for('paper.identity')}}">Identity</a></li>
        <li><a href="{{url_for('paper.policy')}}">Policy</a></li>
        <li><a href="{{url_for('paper.trust_and_consent')}}">Trust and consent</a></li>
        <li><a href="{{url_for('paper.technology')}}">New technology</a></li>
        <li><a href="{{url_for('paper.platforms')}}">Platforms</a></li>
        <li><a href="{{url_for('paper.accountability')}}">Accountability and transparency</a></li>
        <li><a href="{{url_for('paper.where_to_start')}}">Where to start</a></li>
      </ul>

    </div>
  </div>
  </div>
  <div class="row blog">
    <div class="row">
          <div class="small-12 large-12 columns">
            <h2>Blog posts</h2>
           </div>
        </div>
    <div class="row posts">
      <div class="small-12 large-4 columns post-single">
        <h4>What is a register?</h4>
        <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a class="read-more" href="#">Read more</a>
      </div>
      <div class="small-12 large-4 columns post-single">
        <h4>Missing design patterns</h4>
         <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a class="read-more" href="#">Read more</a>
      </div>
      <div class="small-12 large-4 columns post-single">
        <h4>New technology</h4>
         <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a class="read-more" href="#">Read more</a>
      </div>
    </div>
    <div class="row posts">
      <div class="small-12 large-4 columns post-single">
        <h4>Where am I?</h4>
         <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a class="read-more" href="#">Read more</a>
      </div>
      <div class="small-12 large-4 columns post-single">
        <h4>Have we met?</h4>
        <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a class="read-more" href="#">Read more</a>
      </div>
      <div class="small-12 large-4 columns post-single">
        <h4>Do you know who I am?</h4>
         <p>Palmnis iste natus error sit
        voluptatem accusantium
        doloremque laudantium, totam
        rem aperiam, eaque ipsa quae
        ab illo inventore veritatis et
        quasi architectoft.
        </p>
        <a class="read-more" href="#">Read more</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
        <div class="footer">
          <p class="footer-text">This is a GDS prototype</p>
        </div>
    </div>
    </div>
{% endblock %}
