{% extends 'base.html' %}
{% block title %}The Concept{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
  <div class="draft">
    THIS IS A DRAFT
  </div>
  <div class="row">
      <div class="small-12 large-12 columns">
        <nav id="global-nav" class="right">
          <a href="#" data-dropdown="drop1" aria-controls="drop1" aria-expanded="false" class="dropdown">burger</a><br>
            <ul id="drop1" data-dropdown-content class="f-dropdown" aria-hidden="true">
              <li><a href="{{url_for('paper.greenpaper')}}">Greenpaper</a></li>
              <li><a href="{{url_for('paper.background_and_findings')}}">Background</a></li>
              <li><a href="{{url_for('paper.concept')}}">Concept</a></li>
            </ul>
        </nav>
        <header id="global-header">
              <div class="header-wrapper">
                <div class="text-header">The Concept</div>
                <div class="text-sub-header">An ecosystem of services built on a common digital civic infrastructure</div>
              </div>
        </header>
      </div>
    </div>
    <div class="row ecosystem">
          <div class="small-12 large-4 columns ecosystem-text">
              <h2>The ecosystem of services</h2>
              <p>Services can be provided by central, local and devolved government, and by commercial and third sector organisations.</p>
              <h3>Service types</h3>
                <ul>
                  <li><span class="light-blue">&#9632;</span> Central government</li>
                  <li><span class="orange">&#9632;</span> Devolved government</li>
                  <li><span class="green">&#9632;</span> Local government</li>
                  <li><span class="pink">&#9632;</span> Commercial</li>
                </ul>

      </div>
          <div class="small-12 large-8 columns ecosystem-maps">
            <img src="{{url_for('static', filename='images/greenpaper/ecosystem1.png')}}"/>
            </div>
    </div>

    <div class="row infrastructure">
        <div class="small-12 large-12 columns">
            <h2>The infrastructure looks something like this</h2>
        </div>

        <div class="small-12 large-12 columns">
              <img src="{{url_for('static', filename='images/greenpaper/four-levels-zoom-a.png')}}" />
        </div>
    </div>

    <div id="infrastructure-summary" class="row">
        <div class="small-12 large-3 columns">
            <img src="/static/images/greenpaper/service-icon.png">
            <h4>Services</h4>
            <p>Far simpler, more focused &amp; diverse, dynamic, overlapping. Public services run by private/public/3rd sector. Commercial services also supported by this digital civic infrastructure.</p>
        </div>
        <div class="small-12 large-3 columns">
            <img src="/static/images/greenpaper/platform-icon.png">
            <h4>Common Platforms</h4>
            <p>Payment, publishing,identity assurance, geospatial, addresses, mapping, notification, secure messaging etc.Centrally hosted or SaaS or open source.</p>
        </div>
        <div class="small-12 large-3 columns">
            <img src="/static/images/greenpaper/trust-consent-icon.png">
            <h4>Trust &amp; Consent</h4>
            <p>Independent scrutiny so data (open &amp; private) is managed to maintain users’ trust. Responsible for data quality, security, informed consent.</p>
        </div>
        <div class="small-12 large-3 columns">
            <img src="/static/images/greenpaper/register-icon.png">
            <h4>Registers</h4>
            <p>Foundations of a digital state. Canonical data, managed by Registrars who serve users of all services – public &amp;  private.</p>
        </div>
    </div>

    <div id="fishing-service" class="row">
      <div class="small-12 large-4 columns fishing-service-text">
         <h2>A single service view of fishing</h2>
        <p>Here is a view of the possible platforms and registers that underpin the service to obtain a fishing licence. Common platforms such as payment and digital proof are utilised. </p>
      </div>
      <div class="small-12 large-8 columns fishing-service-diagram">
              <img src="{{url_for('static', filename='images/greenpaper/fishing-service.png')}}" />
      </div>
    </div>
    <div class="row">
    <div class="large-12 columns">
        <div class="footer">
          <p class="footer-text">This is a GDS prototype</p>
        </div>
    </div>
    </div>


{% endblock %}
