{% extends 'base.html' %}
{% block title %}Green Paper{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
    <div class="row">
      <div class="small 12 large-12 columns">
        <header id="global-header">
            <div class="header-wrapper">
                  <div class="text-header">IdealGov</div>
                  <div class="text-sub-header">Government as a platform – a new digital civic infrastructure for the UK</div>
                </div>
            </div>
        </header>
      </div>
    </div>
    <div class="row-video">
      <div class="small-6 small-centered columns video-holder"> <img src="/static/images/video.jpg"> </div>
    </div>

    <div class="row">
        <a href="{{url_for('paper.background_and_findings')}}">
          <div class="small 12 large-4 columns findings-column">
              <h1>Background and findings</h1>
              <div class="area-summary">The current problems and what we need to learn and do
              </div>
          </div>
        </a>
        <a href="{{url_for('paper.concept')}}">
          <div class="small large-4 columns concept-column">
          <h1>The concept</h1>
              <div class="area-summary">Diagrams of an IdealGov, explaining the concept in further detail
              </div>
          </div>
        </a>
        <a href="{{url_for('index')}}">
          <div class="small 12 large-4 columns demo-column">
          <h1>The demo</h1>
              <div class="area-summary">A working prototype showing how elements of this new civic infrastructure could work
              </div>
          </div>
        </a>
        </div>
    </div>
    <div class="row">
    <div class="large-12 columns">
        <div class="footer">
          <p class="footer-text">This is a GDS prototype</p>
        </div>
    </div>
    </div>
{% endblock %}
