{% extends 'base.html' %}
{% block title %}Rules{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
  <div class="info-page">
   <a class ="back-button" href="{{url_for('paper.background_and_findings')}}">&larr; Back </a>
   	<h1>Rules</h1>
   		<div class="small-12 large-12 columns intro-para">10 rules for government as a platform.</div>
   		<div class="small-12 large-8 columns">
   		
   		<ul>
   		  <li>Split the data from the services, hold it in organisations with appropriate accountability (central, local, professional body) and make the quality of it independently verifiable.</li>
   		  <li>Services can be provided by any layer of government, and by commercial and third sector orgs. Its OK when they overlap, complement and duplicate.</li>
   		  <li>It is possible interact with multiple layers of government at once while respecting their organisational and democratic sovereignty.</li>
   		  <li>Build small services that can be loosely joined together however citizens like.  Do not try and model the whole world in a user experience, you will Either fail or build a digital Vogon.</li>
   		  <li>Put users in control of their data. Millions of engaged curators are the best protection government has against fraud and citizens have against missuse.</li>
   		  <li>A user not having to understand government does not mean obfuscating the workings of the system.</li>
   		  <li>The system should actively educate people about how their democracy works and where power and accountability lie. Transparency at the point of use.</li>
   		  <li>Be as vigilant against creating concentrations of power  as  you are in creating efficiency.</li>
   		  <li>Understand that collecting data to personalise/means-testing  a service comes at a cost to a users time and privacy.</li>
   		  <li>Sometimes the user need is 'because democracy'</li>
   		</ul>

			
		</div>
	</div>
	<div class="row">
    <div class="large-12 columns">
        <div class="footer">
          <p class="footer-text">This is a GDS prototype</p>
        </div>
    </div>
    </div>
{% endblock %}
