{% extends 'base.html' %}
{% block title %}The Concept{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
  <div class="row">
      <div class="small-12 large-12 columns">
        <header id="global-header">
              <div class="header-wrapper">
                  <div class="text-header">The Concept</div>
                  <div class="text-sub-header">An ecosystem of services built on a common digital civic infrastructure</div>
                </div>
        </header>
      </div>
    </div>
    <div class="row ecosystem">
            <div class="small-12 large-3 columns">
                <h2>The ecosystem of services</h2>
                <p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
            </div>

            <div class="small-12 large-4 columns">
               <h3>Service types</h3>
               <ul>
                    <li><span class="light-blue">&#9632;</span> Central government</li>
                    <li><span class="orange">&#9632;</span> Devolved government</li>
                    <li><span class="green">&#9632;</span> Local government</li>
                    <li><span class="pink">&#9632;</span> Commercial</li>
                </ul>
            </div>
    </div>

    <div class="row">
            <div class="small-12 large-6 columns">
                <h2>The infrastructure looks something like this</h2>
                <p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto</p>
            </div>

            <div class="small-12 large-6 columns">
               <h3>Blah</h3>
            </div>
    </div>
  </div>
{% endblock %}
