{% extends 'base.html' %}
{% block title %}Where to start{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
  <div class="info-page">
   <a class ="back-button" href="{{url_for('paper.background_and_findings')}}">&larr; Back </a>
   	<h1>Where to start</h1>
   		<div class="small-12 large-12 columns intro-para">Vivamus porttitor, urna in dignissim mollis, leo sem condimentum ex, nec vestibulum nulla dolor at purus. Fusce tempor efficitur diam, vitae tempor ex volutpat vel.</div>
   		<div class="small-12 large-8 columns">
   			<h2>Context</h2>
			<p><strong>Government as a Platform is the civic infrastructure for the digital age.</strong> It's an huge endeavour we think is equivilent in size and effort to building the sewer system in the Victoria era, or the railways. We have assumed that building it is something that spans multiple parliaments and outlives the the people involved in this initial thinking.</p> 
			<p>We have assumed a <strong>certain inevitability to a system of government that is built on solid digital foundations</strong>. The Internet and the web are transforming our lives and people now demand simple, convenient, secure efficient, transparent and real-time services.  Countries like Estonia are leading the way and other countries are following, including the UK. To date though we have been digitising an analogue state.</p>
			<p>There is no right answer.  There are parts of the model we're proposing that we know we don't know enough about.   There is a risk of over confidence or over promise so we're aknowleding <strong>we have a lot to learn and we need to optimise for learning</strong>.</p>
			<p>The challenge ahead does not lend itself to a big bang release.  We cannot imagine a scenario where overnight one switches from a system of government built up over 160 years, with decades of out-dated, legacy systems, slow-to-change institutions more used to command and control to a world where the foundations of the state are totally different, be they, cultural, data, tech, privacy, security or operational. <strong>The only way to deliver this is iteratively</strong>, learning as we go.</p>
			
			<h3>Selection criteria</h3>
			<p>Vivamus porttitor, urna in dignissim mollis, leo sem condimentum ex, nec vestibulum nulla dolor at purus. Fusce tempor efficitur diam, vitae tempor ex volutpat vel.</p> 

			<h4>Sub sub para title</h4>
			<p>Nullam eget lacus at lacus efficitur cursus in at nunc. Integer ut libero efficitur tortor sagittis vehicula. Donec placerat ante id metus rhoncus, eget bibendum nunc porta.</p> 

			<h2>Para title</h2>
			<p>Nunc porttitor metus a justo cursus, vitae congue velit facilisis. Sed at tortor id neque pellentesque tincidunt vel laoreet tellus. Curabitur ac tristique diam. Duis fermentum orci ex, ut sodales nibh rutrum quis.</p>

			<p>Pellentesque orci lacus, dapibus a nibh in, egestas faucibus sem. Vivamus vel imperdiet odio, eu elementum ante. Integer sit amet dignissim lorem. Ut velit turpis, aliquet hendrerit nisi id, faucibus accumsan quam. Morbi semper rutrum velit ac faucibus. Proin vel suscipit elit. Nunc tempor quam felis.</p>

			<h2>Para title</h2>
			<p>Pharetra est tincidunt sit amet. Ut at sagittis orci. Integer sed est felis. Quisque et quam odio. Donec lacus velit, volutpat eget convallis id, tempor id nunc. Aliquam sem nisi, tincidunt in orci iaculis, fermentum imperdiet nisi. Morbi iaculis, felis condimentum euismod euismod, risus sem vehicula risus, sit amet placerat tortor purus at sapien.</p>
		</div>
	</div>
	<div class="row">
    <div class="large-12 columns">
        <div class="footer">
          <p class="footer-text">This is a GDS prototype</p>
        </div>
    </div>
    </div>
{% endblock %}
