{% extends 'base.html' %}
{% block title %}Where to start{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
  <div class="info-page">
   <a class ="back-button" href="{{url_for('paper.background_and_findings')}}">&larr; Back </a>
   	<h1>Where to start</h1>
   		<div class="small-12 large-12 columns intro-para">Vivamus porttitor, urna in dignissim mollis, leo sem condimentum ex, nec vestibulum nulla dolor at purus. Fusce tempor efficitur diam, vitae tempor ex volutpat vel.</div>
   		<div class="small-12 large-8 columns">
   			<h2>Para title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vulputate diam sit amet tortor dignissim tristique ac non risus. Cras rutrum dolor justo, ac vestibulum sem consequat nec. Pellentesque aliquet ac ipsum in maximus. Pellentesque vitae egestas metus. Nam ut lobortis risus, eu lacinia odio. Sed fringilla mauris eget velit pulvinar elementum. Donec placerat ante id metus rhoncus, eget bibendum nunc porta.</p> 

			<h3>Sub para title</h3>
			<p>Vivamus porttitor, urna in dignissim mollis, leo sem condimentum ex, nec vestibulum nulla dolor at purus. Fusce tempor efficitur diam, vitae tempor ex volutpat vel.</p> 

			<h4>Sub sub para title</h4>
			<p>Nullam eget lacus at lacus efficitur cursus in at nunc. Integer ut libero efficitur tortor sagittis vehicula. Donec placerat ante id metus rhoncus, eget bibendum nunc porta.</p> 

			<h2>Para title</h2>
			<p>Nunc porttitor metus a justo cursus, vitae congue velit facilisis. Sed at tortor id neque pellentesque tincidunt vel laoreet tellus. Curabitur ac tristique diam. Duis fermentum orci ex, ut sodales nibh rutrum quis.</p>

			<p>Pellentesque orci lacus, dapibus a nibh in, egestas faucibus sem. Vivamus vel imperdiet odio, eu elementum ante. Integer sit amet dignissim lorem. Ut velit turpis, aliquet hendrerit nisi id, faucibus accumsan quam. Morbi semper rutrum velit ac faucibus. Proin vel suscipit elit. Nunc tempor quam felis.</p>

			<h2>Para title</h2>
			<p>Pharetra est tincidunt sit amet. Ut at sagittis orci. Integer sed est felis. Quisque et quam odio. Donec lacus velit, volutpat eget convallis id, tempor id nunc. Aliquam sem nisi, tincidunt in orci iaculis, fermentum imperdiet nisi. Morbi iaculis, felis condimentum euismod euismod, risus sem vehicula risus, sit amet placerat tortor purus at sapien.</p>
		</div>
	</div>
	<div class="row">
    <div class="large-12 columns">
        <div class="footer">
          <p class="footer-text">This is a GDS prototype</p>
        </div>
    </div>
    </div>
{% endblock %}
