{% extends 'base.html' %}
{% block title %}Where to start{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/greenpaper.css') }}">
{% endblock %}
{% block content %}
  <div class="info-page">
   <a class ="back-button" href="{{url_for('paper.background_and_findings')}}">&larr; Back </a>
   	<h1>Where to start</h1>
   		<div class="small-12 large-12 columns intro-para">Government as a Platform is the civic infrastructure for the digital age. There's a lot to learn.</div>
   		<div class="small-12 large-8 columns">
   			<h2>Background</h2>
			<p>Government as a Platform is the civic infrastructure for the digital age. It's an huge endeavour we think is equivilent in size and effort to building the sewer system in the Victoria era, or the railways. We have assumed that building it is something that spans multiple parliaments and outlives the the people involved in this initial thinking.</p> 
			<p>We have assumed a certain inevitability to a system of government that is built on solid digital foundations. The Internet and the web are transforming our lives and people now demand simple, convenient, secure efficient, transparent and real-time services.  Countries like Estonia are leading the way and other countries are following, including the UK. To date though we have been digitising an analogue state.</p>
			<p>There is no right answer.  There are parts of the model we're proposing that we know we don't know enough about.   There is a risk of over confidence or over promise so we're aknowleding we have a lot to learn and we need to optimise for learning.</p>
			<p>The challenge ahead does not lend itself to a big bang release.  We cannot imagine a scenario where overnight one switches from a system of government built up over 160 years, with decades of out-dated, legacy systems, slow-to-change institutions more used to command and control to a world where the foundations of the state are totally different, be they, cultural, data, tech, privacy, security or operational. The only way to deliver this is iteratively, learning as we go.</p>
			
			<h3>Selection criteria</h3>
			<p>We should start with a real, live service that demonstrates Government as a Platform end-to-end, from the service, through a new bread of platforms, identity and permissions that puts the user in control of access to their data.</p> 
			<p>The test service need not be complicated in itself, but should be chosen to maximise learning potential.  It should be something we can point at - something to stimulate debate and feedback in the first instance.</p> 
			
			<p>You'd start with something that:</p>
			<ul>
				<li>Requires light proof of identity so that we can learn about the patterns, behaviours, and technologies needed for citizens and business to reliably verify they are who they say there are.</li>
				<li>Requires assertion of simple facts with permissions so that we can explore the concepts of user consent and minimum-viable data to demonstrate user control over their data and respect for privacy of the individual.</li>
				<li>Relies on a single, simple register so that we can learn about the migration, storage and retrieval of canonical data and the technologies that underpin it.</li>
				<li>Has a single, simple transaction so that the energy ad learning goes into the model of Government as a Platform rather than the design of a complex service.</li>
				<li>Has payment so that we can demonstrate how an obvious and conceptually understood platform could work.</li>
				<li>Demonstrates simple notifications so that we can show how loosely coupled services, platforms and registers can share open data consistently to everyone's benefit.</li>
				<li>Demonstrates simple geo-location tools, again, so we can explore the build and utility of platforms.</li>
				<li>Is not a mission critical transaction (e.g. benefits or tax) so that needless risk is not incurred from the very beginning.</li>
				<li>Demonstrates example developer documentation and tool-chains so we can get feedback from people making services that sit on common platforms.  Key to where we start is understanding that the user of platforms are developers and service teams.</li>
				<li>Tests deployment infrastructure and processes so teams can act as a customer of Infrastrcuture as a Platform (IaaS) and demonstrate the significant time and cost efficiencies from IaaS.</li>
			</ul>
			<h3>Conditions for success</h3>
			<ol>
				<li>Start small and grow the team and scope organically</li>
				<li>Cross-party buy-in is essential.  The sewers were not party-political and nor should digital civic infrastrcuture.</li>
				<li>Explicity set up teams to learn by doing.  Smother them in the vision, give them space to think but don't drown them with top-down commitment.</li>
				<li>Understand the needs of users building the services. </li>
				<li>Be transparent, develop in the open and share learning as you go.</li>
				<li>Big bang will not work. Delivery should be iterative and incremental. </li>
				<li>Recognise that platforms emerge</li>
			</ol>
		</div>
	</div>
	<div class="row">
    <div class="large-12 columns">
        <div class="footer">
          <p class="footer-text">This is a GDS prototype</p>
        </div>
    </div>
    </div>
{% endblock %}
